.center {
    width: 850px;
    border: 2px solid rosybrown;
    margin: auto;
}
.name,
.content {
    text-align: center;
    border: 1px solid rosybrown;
}
ul,
ol {
    list-style-position: inside;
}
.incline{
    font: normal 15px "Helvetica Neue", sans-serif;
    font-style: italic;
    text-align: center;
}
.cv {
    font: normal 27px "Helvetica Neue", sans-serif;
    line-height:1.5;
    text-align: center;
}
.avatar {
    width: 120px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.code {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
